<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TEST</title>
</head>
<body>
<%- include('layout/header.ejs'); %>
<%- include('pages/' + page + '.ejs'); %>
<%- include('layout/footer.ejs'); %>
<script src="/js/main.js"></script>
</body>
</html>
